<?xml version="1.0"?>
<config>
	<id>widget latest-community3-posts</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Post Latest</en>
		<ko>Post Latest</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post with num of comments.</en>
		<ko>Displays latest post with num of comments</ko>
	</short>
	<detail>
		<en>Displays latest post with num of comments</en>
		<ko>Displays latest post with num of comments</ko>
	</detail>
</config>
