.community3-posts {
	border: solid 1px #bbbbbb;		
	height:158px;
}

 .community3-posts a {
	text-decoration: none;
}
 
 .community3-posts .content-community-3 {
	display: block;	
	width:100%;
	overflow: hidden;
	height: 18px;
	line-height: 18px;
	position: relative;
	left: -4px;
	word-break:break-all;
}

 .community3-posts .title {
	padding: 0 5px 5px 5px;
	height: 23px;
	line-height: 23px;
	background: #fcfcfc;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;	
}

.community3-posts .title a{
	color:#444444;
}

 .community3-posts .title .posts-more a {
	color: #808080;
}

 .community3-posts .title img {
	margin: 0 2px 0 0;
	position: relative;
	top: -1px;
	margin-right:5px;
}

 .community3-posts .community3-posts-items {
	padding: 10px 10px 0 10px;
}

 .community3-posts .community3-posts-items .posts-square {	
	position:relative;
	top:-2px;
	margin-right:4px;
}

 .community3-posts .community3-posts-items .posts-square img{
	position:absolute;
	left:-3px;
	top: -1px;
}

 .community3-posts .community3-posts-items .no-of-comments  a{
	color: #ff0000;
	font-size: 11px;
	display:block;
	width:40px;
	margin-top:2px;
	
}
.community3-posts .posts-more {
	font-weight: normal;
	font-size: 9pt;
	color:#808080;
}

/*******/
.community3-posts .community3-posts-items td{
	padding:5px 0;
}